{% extends 'postapp/base.html' %}
{% load tags %}
{% block content %}
<body>
<div class="container text-center my-5 py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card mb-5 box-shadow">
                <div class="card-header bg-dark text-white">
                    <h1 class="font-weight">Cервис рассылок</h1>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Всего рассылок : {{ count_mailing_all }}</li>
                        <li>Активных рассылок всего : {{ count_mailing_active }}</li>
                        <li>Количество уникальных клиентов для рассылок : {{ count_unique_clients }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h1>Статьи</h1>

    <div class="container">
        <div class="row">
            {% for item in blog %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <h3 class="card-header bg-dark"><a
                            href="{% url 'blog:record_detail' item.slug %}" style="color: white; margin: 0;">{{
                        item.title }}</a></h3>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.body | truncatechars:100 }}</h5>
                        <img src="{% mediapath item.picture %}"
                             class="card-img-top mx-auto d-block img-fluid" alt=""
                             style="width: auto; height: auto;">
                        <ul>
                            <li><a class="card-text">Просмотры: {{ item.views }}</a></li>
                            <li><p class="card-text">Дата публикации: {{ item.created_date }}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<style>
        .btn {
            margin-top: 10px;
            padding: 5px 5px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }

        .container-h {
            background-color: #f7f7f7;
            border: 1px solid #ddd;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .card-header h1 {
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 0.1em;
            margin-bottom: 1rem;
        }

        .card-body {
            font-size: 1.2rem;
            line-height: 1.6;
        }

        ul li {
            margin-bottom: 0.5rem;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

</style>
{% endblock %}