{% extends 'postapp/base.html' %}

{% block content %}

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {{ object.message }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ object.mailing_time }}</h5>
                <p class="card-text">Периодичность рассылки: {{ object.get_frequency_display }}</p>
                <p class="card-text">Получатели:
                    {% for obj in object.clients.all %}
                        {{ obj.full_name }}
                    {% endfor %}

                </p>
                {% if object.user == user or user.is_superuser %}
                <a href="{% url 'postapp:mailing_update' object.pk %}" class="btn btn-warning">Изменить</a>
                <a href="{% url 'postapp:mailing_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
                {% if perms.mailing_app.set_mailing_status or user.is_superuser %}
                        <a class="btn btn-info" href="{% url 'postapp:set_mailing_status' object.pk %}">Отключить рассылку</a>
                        {% endif %}
                <br><br>
                <a href="{% url 'postapp:mailing_list' %}" class="btn btn-secondary">Все рассылки</a>
            </div>
            <div class="card-footer text-muted">
                Статус рассылки: {{ object.get_mailing_status_display }}

            </div>
        </div>
    </div>
    <style>
        .card {
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 2px 4px rgba(0, 0, 0, 0.3);
        }

        .card-header {
            font-size: 24px;
            background-color: #eee;
            font-weight: bold;
        }

        .card-body {
            text-align: center;
        }

        .card-text {
            font-size: 18px;
        }

        .btn {
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
{% endblock %}