{% extends 'postapp/base.html' %}

{% block content %}
{% load tags %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            {{ object.title }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.body }}</h5>
            <img src="{% mediapath object.picture %}" class="card-img-top mx-auto d-block img-fluid" alt=""
                 style="width: auto; height: auto;">
            <p class="card-text">Просмотры: {{ object.views }}</p>
            {% if perms.blog.change_blog %}
            <a href="{% url 'blog:update_record' object.slug %}" class="btn btn-warning">Изменить
                запись</a>
            {% endif %}
            {% if perms.blog.delete_blog %}
            <a href="{% url 'blog:delete_record' object.slug %}" class="btn btn-danger">Удалить
                запись</a>
            {% endif %}
            <br><br>

            {% if perms.blog.set_published_blog %}
            {% if object.published_on == True %}
            <a href="{% url 'blog:toggle_activity' object.slug %}" class="btn btn-outline-danger">Снять с
                публикации</a>
            {% else %}
            <a href="{% url 'blog:toggle_activity' object.slug %}" class="btn btn-outline-primary">Опубликовать</a>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            <p class="card-text">
                Создана: {{ object.created_date }}<br>
                Опубликована: {{ object.published_on }}
            </p>
        </div>
    </div>
</div>

<style>
        .card {
            margin-top: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 2px 4px rgba(0, 0, 0, 0.3);
        }

        .card-header {
            font-size: 24px;
            background-color: #eee;
            font-weight: bold;
        }

        .card-body {
            text-align: center;
        }

        .card-text {
            font-size: 18px;
        }

        .btn {
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }


</style>
{% endblock %}