{% extends 'postapp/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4 bg-light p-3 rounded">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h4 class="card-title">Пароль</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <h1 class="h3 mb-3 fw-normal">Введите новый пароль</h1>
                            <div class="form-group text-center">
                                {{ form.as_p }}
                                <button class="p-2 btn btn-outline-success" type="submit">Сохранить</button>
                                <div class="form-group text-center">
                                    <a class="btn btn-link" href="{% url 'users:login' %}">Вернуться</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}