{% extends 'postapp/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Пользователи</h1>
        <table class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="text-align: center">ID</th>
                    <th scope="col" style="text-align: center">email</th>
                    <th scope="col" style="text-align: center">Блокировка</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    {% if not item.is_superuser %}
                        <tr>
                            <th class="text-center">{{ item.pk }}</th>
                            <td class="text-center">{{ item.email }}</td>
                            <td class="text-center">
                                {% if perms.users.set_is_active %}
                                    {% if item.is_active %}
                                        <a href="{% url 'users:users_status' item.pk %}" class="btn btn-outline-danger">Заблокировать</a>
                                    {% else %}
                                        <a href="{% url 'users:users_status' item.pk %}"
                                           class="btn btn-outline-primary">Снять блокировку</a>
                                    {% endif %}
                                {% endif %}
                            </td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </table>
    </div>
    <style>
        .btn {
            margin-top: 5px;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }

        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
{% endblock %}